@model IEnumerable<Colegio.Models.Alumnos>

@{
    ViewBag.Title = "Administracion Alumnos";
}

<h2 class="text-center">@ViewBag.Title</h2>


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        @Html.ActionLink("Crear Nuevo Alumno", "Create", null, htmlAttributes: new { @class = "btn btn-outline-primary btn-lg btn-block" })
    </div>
</div>
<br />
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-primary btn-block" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-primary  btn-block" })
                </td>
            </tr>
        }
    </tbody>

</table>
<h3 class="text-info">
    @TempData["MensajeAlumno"]
</h3>
